* {
  box-sizing: border-box;
  font-family: "Krub", sans-serif;
}

html, body{
    box-sizing: border-box;
    min-height: 100%;
  }

.logo {
  width: 200px;
}

#menu {
    display: flex;
    padding: 0px;
    background-color: rgb(54, 161, 72);
    align-items: center;
    justify-content: space-around;
}
#menu a{
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color:white;    
}

#menu  a:hover {
  background-color: #e1e78c;
  color:black;
  border-radius: 5px;
}

.carrousel{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nosotros-section,
.team-section {
    display: flex;
    margin-bottom: 100px;
}

.nosotros-section {
    background-color: #f7f7f7;
    flex-wrap:inherit;
}

.nosotros-header {
  display: flex;
  justify-content: left;
}

.nosotros-info {
  width: 100%;
  padding: 20px;
}

.nosotros-info__text{
  text-align: justify;
}

.nosotros-info__imagen{
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}

  .team-info{
    width: 25%;
    padding: 15px;
}

.team-info__imagen{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

.team-info__text{
  text-align: justify;
}

.team-info__title{
  text-align: center;
}

#instagram {
    max-width: 40px;
}
  
#facebook {
  max-width: 30px;
}

#footer{
  background-color:  rgb(54, 161, 72); 
  margin-left: 5px;
  color: white;
  text-align: center;
}

#footer h5{
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 10px;
}

#footer img{
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer li{
  list-style: none;
}

#copyright{
  font-size: 1rem;
  font-weight: bold;
}

#boton-carrito{
 text-align: right;
 font: bold;
}