* {
  box-sizing: border-box;
  font-family: "Krub", sans-serif;
}

body{
  max-width: 1400px;
  min-width: 375px;
  margin: 5px auto;
}

html, body{
    box-sizing: border-box;
    min-height: 100%;
  }

.logo {
  width: 200px;
}

.menu {
    display: flex;
    padding: 0px;
    background-color: rgb(54, 161, 72);
    align-items: center;
    justify-content: space-around;
  }
  .menu a{
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color:white;    
  }
  
  .menu  a:hover {
    background-color: #e1e78c;
    color:black;
    border-radius: 5px;
  }

  .carrousel{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nosotros-section,
  .team-section {
      display: flex;
      margin-bottom: 100px;
  }

  .nosotros-section {
      background-color: #f7f7f7;
      flex-wrap:inherit;
  }

  .nosotros-header {
    display: flex;
    justify-content: left;
}

.nosotros-info {
  width: 100%;
  padding: 20px;
}

.nosotros-info__text{
  text-align: justify;
}

.nosotros-info__imagen{
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}

  .team-info{
    width: 25%;
    padding: 15px;
}

.team-info__imagen{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

.team-info__text{
  text-align: justify;
}

.team-info__title{
  text-align: center;
}

  .instagram {
    max-width: 40px;
  }
  
  .facebook {
    max-width: 40px;
  }

.footer-section{
  background-color:  rgb(54, 161, 72); 
  display: flex;
  color: white;
  height: 200px;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.footer-titulo1{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.footer-titulo2{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.footer-imagen{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-contacto{
  display: flex;
  justify-content: center;
  align-items: center;
}

#copyright{
  text-align: center;
  color: white;
  padding-bottom: 10px;
  background-color: #e1e78c;
}